%d-flex-jc-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}