$logo_h_font:"Questrial", sans-serif;
$main-font: "DM Sans", sans-serif;
$black-color: #000000;
$white: #fff;
$bg-color:#f4a42b;
$line-color:#dcdcdc;
$btn-text-clr:#3f73f6;
$text:#555;
$card-color:#FFF0D2;